input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color_3;
	border: 1px solid $color_3;
	border-radius: 0;
	padding: 3px;

	&:focus {
		color: $color_3;
		outline-offset: 0;
		outline: none;
	}
}

select {
	border: 1px solid $color_3;
}

textarea {
	width: 100%;
}
