$color_1: #0C87CC;
$color_2: #00C0D4;
$color_3: #545454;
$color_4: #FFFFFF;

$colors: (
	'codoswp-color-1' 		: #0C87CC,
	'codoswp-color-2' 	: #00C0D4,
	'codoswp-color-3' 	: #545454,
	'codoswp-color-4' 	: #FFFFFF
);

@each $name, $color in $colors {

	.has-#{$name}-color {
		color: $color;
	}

	.has-#{$name}-background-color {
		background-color: $color;
	}
}
