$color_1: #253b80;
$color_2: #179bd7;
$color_3: #545454;
$color_4: #ffffff;
$color_5: #ff6000;

$colors: (
	'codoswp-color-1' 	: $color_1,
	'codoswp-color-2' 	: $color_2,
	'codoswp-color-3' 	: $color_3,
	'codoswp-color-4' 	: $color_4,
	'codoswp-color-5' 	: $color_5
);

@each $name, $color in $colors {

	.has-#{$name}-color {
		color: $color;
	}

	.has-#{$name}-background-color {
		background-color: $color;
	}
}
