.home .wp-block-cover .wp-block-cover__inner-container {
    width: 70%;
    margin: 0 auto;
}

@media (max-width: 767px){
    .home .wp-block-cover .wp-block-cover__inner-container {
        width: 90%;
    }
}