.wp-block-button__link {
	border-radius: 0;
	padding: 8px 16px;
	font-size: 12px;
	text-transform: uppercase;

	&:hover {
		text-decoration: none;
	}

	&:not(.has-text-color) {
		color: $color_4;

		&:hover {
			color: $color_4;
		}
	}

	&:not(.has-background) {
		background-color: $color_2;

		&:hover,
		&:focus {
			background-color: darken( $color_2, 20% );
		}
	}

	@each $name, $color in $colors {

		&.has-#{$name}-color:hover,
		&.has-#{$name}-color:focus {
			color: $color;
		}

		&.has-#{$name}-background-color:hover,
		&.has-#{$name}-background-color:focus {
			background-color: darken( $color, 20% );
		}
	}

}
